<h1>Mash the button to increment a Statsd Counter</h1>
<%= form_tag("/statsd/event", :method => "post") do %>
  <%= label_tag(:q, "Counter Name:") %>
  <%= text_field_tag(:q,  "test.ruby.myvals") %>
  <%= submit_tag("Increment") %>
<% end %>
